* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  place-items: center;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.red {
  background: red;
}

.gray {
  background: gray;
}

.white {
  background: white;
}

.cart {
  display: grid;
  place-items: center;
  padding: 2rem;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.product {
  display: grid;
  place-items: center;
}

button {
  cursor: pointer;
}

.holder {
  border: 2px solid red;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.left {
  border: 2px solid green;
  padding-left: 2rem;
}

.blue {
  border: 2px solid blue;
}